/* Canvas */
body {
  background-color: black;
}

canvas {
  border: 1px solid black;
}

/* Text */
.d-none {
  display: none;
}

.intro {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
}

.intro span {
  animation: fadein 2s;
  transition-duration: 2s;
  color: #0077aa;
  display: inline-block;
  font-size: 10rem;
  font-weight: 800;
  position: relative;
  text-transform: uppercase;
}

/* Animations */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
